version: '3.8'

services:
  backend:
    build: .
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - DB_URL=jdbc:sqlserver://sqlserver:1433;databaseName=RGSons;encrypt=true;trustServerCertificate=true
      - DB_USERNAME=sa
      - DB_PASSWORD=YourStrong!Passw0rd
    depends_on:
      - sqlserver

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=YourStrong!Passw0rd
    ports:
      - "1433:1433"
